.dropdown {
    align-items: center;
    background-color: #161616;
    border-radius: 10px;
    border: 2px solid #D19D51;
    display: flex;
    flex-direction: column;
}

.dropdown button {
    background-color: #161616;
    border: none;
    color: #D19D51;
    font-size: 1rem;
    text-align: left;
    width: 95%;
}

.dropdown button:hover {
    color: white;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 3s ease-in-out;
}

.dropdown-content.open {
    max-height: 500px;
}

.dropdown_separator {
    border: solid 1px #D19D51;
    margin: 10px 0px;
}


.cardexpense_content {
    display: flex;
    margin: 5px 10px;
}

.cardexpense_content-description {
    color: #D19D51;
    display: flex;
    flex-direction: column;
}

.cardexpense_progress {
    align-items: center;
    color: white;
    display: flex;
    gap: 5px;
    height: 20px;
}

.progress_bar {
    background-color: #490e0e;;
    border: solid 1px #D19D51;
    height: 10px;
    width: 20vh;
}
.cardexpense_footer {
    align-self: flex-end;
}

.cardexpense_footer button {
    margin-right: 10px;
    width: fit-content;
}